{% extends 'main/base.html' %}
{% block title %}
Про проект
{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/main/css/styleabout.css">
<div class="zagolovok flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"><h1>Добро пожаловать в мир Pallasknives </h1>
<h3>Мы не просто производим ножи – мы воплощаем страсть к ножевому искусству в каждом изделии. </h3>
</div>
<div class="cent">
<div class="row border-bottom shadow-sm align-items-center p-3 px-md-4 mb-3">
  <div class="col-lg-3">
    <p>Манул, также известный как палласов кот, представляет собой уникальное и загадочное создание, проживающее в горных регионах Центральной и Центральной Азии. Его характерные черты делают его не только замечательным видом, но и символом устойчивости, ловкости и выносливости в суровых условиях. Именно эти качества мы хотим подчеркнуть в своей продукции, нанося уникальный символ на клинки наших ножей.</p>
  </div>
  <div class="col-lg-3">
    <img src="/static/main/css/img/render2.png" width=175% height=75% >
    <img src="/static/main/css/img/renderlogo.png" width=175% height=75% >
  </div>
</div>
</div>
<div class="modal modal-sheet position-static d-block p-4 py-md-5 border-bottom shadow-sm" >
    
    <h4> В своих ножах мы используем такие стали как:</h4>
    <ul>
        <li>Uddeholm Vanax SuperClean(60-62HRC)</li>
        <p>Uddeholm Vanax SuperClean (60-62 HRC) это сталь для тех, кто ценит надежность и качество в своих ножах.
            Данная сталь обладает уникальными характеристиками, среди которых особенно выделяется ее полная устойчивость к коррозии. Это делает ее идеальным выбором для тех, кто проживает в морском климате.
            Uddeholm Vanax SuperClean также отлично подходит как для новичков, так и для опытных энтузиастов. Ее превосходные свойства позволяют не беспокоиться о состоянии ножа, что делает ее надежным инструментом в самых различных ситуациях.
            Кроме того, благодаря крайне мелкому зерну, данная сталь может быть заточена до невероятной остроты.</p>
        <li>Bohler M390 (61-63 HRC)</li>
        <p>Bohler M390 (61-63 HRC) представляет собой порошковую нержавеющую сталь, рекомендованную как для новичков, так и для опытных пользователей. Сочетание превосходных режущих свойств и простоты обслуживания делает Bohler M390 золотой серединой среди современных ножевых материалов.
            Эта сталь легко обслуживается и обладает выдающимися характеристиками коррозионной стойкости, что делает ее идеальным выбором для широкого круга пользователей.</p>
        <li>Hitachi ZDP-189 (65-67 HRC)</li>
        <p>Hitachi ZDP-189 (65-67 HRC) -порошковая сталь, обладающая способностью обеспечивать выдающуюся режущую способность без ущерба для коррозионной стойкости. Несмотря на высокую твердость, данная сталь демонстрирует достаточную ударную вязкость и прочность, что придает ножу из ZDP-189 универсальность и надежность.
            Однако стоит отметить, что для поддержания высокой производительности требуется тщательный уход. Клинок из ZDP-189 следует держать сухим, что обеспечит не только его долгий срок службы, но и качественное исполнение задач в течение продолжительного времени. Эта сталь становится идеальным выбором для тех, кто ценит выдающуюся режущую способность, универсальность и готов вложить усилия в заботу о своем инструменте.</p>
        <li>Hitachi HAP72 (67-69 HRC)</li>
        <p>Hitachi HAP72 (67-69 HRC) представляет собой порошковую быстрорежущую сталь, рекомендованную исключительно опытным пользователям, обладающим необходимыми знаниями и опытом для обеспечения правильного ухода за данным материалом. HAP72 обладает выраженной склонностью к агрессивной коррозии, однако при этом обеспечивает высочайшую режущую эффективность.
            Нож, изготовленный из такой стали, способен эффективно выполнять задачи практически бесконечное время при небольших нагрузках. Несмотря на невероятно высокую твердость, HAP72 успешно поддерживает остроту и сохраняет ее продолжительный период времени.</p>
    </ul>
    <h4>Для рукоятей мы используем:</h4>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative px-3">
        <h2>Карбон</h2>
        <div class="col-auto d-none d-lg-block">
            <img src="/static/main/css/img/carbon2.jpg" width=400px height=250px>
        </div>
        <p class="carbon p2">Карбон представляет собой легкий, прочный и эстетичный материал. Благодаря множеству вариантов цветов и оттенков, карбон может быть подобран с учетом индивидуальных предпочтений каждого потребителя. Карбоновые композиции проявляют выдающуюся устойчивость к воздействию влаги и перепадам температур, что справедливо считается одним из оптимальных выборов для изготовления рукояти складного ножа.</p>
    </div>
    <div class="col-lg-4 g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative px-3">
        <h2>Титан</h2>
        <div class="col-auto d-none d-lg-block">
            <img src="/static/main/css/img/titan.jpg" width=400px height=250px>
        </div>
        <p class="carbon p2">Титан — благородный металл, идеальный для рукоятей складных ножей. Его легкость обеспечивает удобство в ношении, прочность и устойчивость к коррозии делают рукояти из титана износостойкими и стильными, а благородный оттенок титана придает ножам изысканный вид.</p>
    </div>
    <div class="col-lg-4 g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative px-3">
        <h2>Микарта</h2>
        <div class="col-auto d-none d-lg-block">
            <img src="/static/main/css/img/mikarta.jpg" width=400px height=250px>
        </div>
        <p class="carbon p2"> Микарта — современный материал, нашедший широкое применение в изготовлении рукоятей складных ножей. Такие рукояти обладают выдающимися характеристиками: они легкие, износостойкие, и не подвержены воздействию влаги. Микарта предоставляет производителям ножей возможность играть с цветами, текстурами и оттенками, делая каждую рукоять уникальной. Благодаря своей обработке, микарта обеспечивает отличное сцепление с рукой, что делает рукоятки удобными и надежными в использовании.</p>
    </div>
</div>

</div>

<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5 border-bottom shadow-sm" >
<p>Мы верим, что каждый человек уникален, и наши ножи тоже должны быть такими. Индивидуальный дизайн – это не просто наш подход, это наша философия. Каждый нож Pallasknives – это уникальное сочетание формы, функции и стиля, созданное с любовью к деталям.
Pallasknives использует только высококачественные материалы, чтобы обеспечить надежность и долговечность каждого ножа. Мы гордимся тем, что наши изделия становятся надежными спутниками в любых ситуациях.</p>

</div>
<br>
<div class="container">
    <h4 class="text-center">Авторы проекта</h4>
    <div class="row">
        <div class="col-lg-4 text-center">
            <img src="/static/main/css/img/vitalya_pic.png" width="140" height="140" alt="Виталий Балябкин">
            <h2>Балябкин Виталий Сергеевич</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
            <img src="/static/main/css/img/ellina_pic.png" width="140" height="140" alt="Эллина Зайцева">
            <h2>Зайцева Эллина Алексеевна</h2>
        </div>
        <div class="col-lg-4 text-center">
            <img src="/static/main/css/img/vika_pic.png" width="140" height="140" alt="Виктория Карлова">
            <h2>Карлова Виктория Альбертовна</h2>
        </div>
    </div>
<br>
    <div class="row">
        <div class="col-lg-12 text-center">
            <p>Email: pallasknives@yandex.ru</p>
            <p>Телефон: +7 (3812) 75-51-72</p>
        </div>
    </div>
</div>

{% endblock %}
